@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
}

header nav {
  background-color: rgba(39, 30, 30, 0.808);
}
header nav div .logoContainer {
  background-color: #fff;
  border-radius: 100%;
}
header nav div .logoContainer:hover {
  transform: scale(102%);
  transition: all 0.5s;
}
header nav div .logoContainer .imgLogo {
  margin: 0% auto;
  width: 100%;
}
header nav div .logoContainer .imgLogo a img {
  width: 100%;
}
header nav div .hamburger span .barsMenu {
  width: 100%;
}
header nav div .seccionesContainer {
  margin: 0% 10%;
}
header nav div .seccionesContainer a {
  color: #fff;
  font-family: "Monoton", cursive;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
header nav div .seccionesContainer a:hover {
  transform: translateY(1rem);
  transition: all 0.5s;
}
header nav div .seccionesContainer p {
  color: #fff;
  font-family: "Monoton", cursive;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
header nav div .cart-icon .cart-button:hover {
  transform: scale(105%);
  transition: all 0.5s;
}
header nav div .cart-icon .cart-button:hover p {
  transform: rotateY(720deg);
  transition: all 1.5s;
}
header nav div .cart-icon .cart-button #cart-quantity {
  position: relative;
  right: 25%;
}
header nav div .cart-modal div div .modal-header .modal-title {
  font-family: "Monoton", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
header nav div .cart-modal div div .modal-footer p {
  font-weight: normal;
}
header nav div .cart-modal div div .modal-footer p #total-price {
  font-size: 1rem;
  font-weight: bold;
}
header nav div .cart-modal div div .modal-footer button {
  background-color: rgba(39, 30, 30, 0.808);
}
header nav div .cart-modal div div .modal-footer button:hover {
  transform: scale(105%);
  transition: all 0.5s;
}

h1 {
  font-size: 4rem;
  color: #fff;
  font-family: "Monoton", cursive;
  margin: 3% 0% 2% 0%;
  text-align: center;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
}

.gridGuitarContainer {
  width: 75%;
  margin: 0% auto 10% auto;
  display: grid;
  gap: 2rem;
  grid-template-areas: "electrica acustica-uno acustica-dos" "electrica criolla criolla";
}
.gridGuitarContainer .electrica {
  grid-area: electrica;
}
.gridGuitarContainer .acusticaUno {
  grid-area: acustica-uno;
}
.gridGuitarContainer .criolla {
  grid-area: criolla;
}
.gridGuitarContainer .acusticaDos {
  grid-area: acustica-dos;
}
.gridGuitarContainer .fotoCollage {
  border: 1rem solid #fff;
  box-shadow: 1.2rem 1.2rem 1rem #271e1e;
}
.gridGuitarContainer .fotoCollage img {
  width: 100%;
}

.sectionContainer {
  width: 90%;
  margin: 0% auto 5% auto;
}
.sectionContainer h2 {
  font-size: 3rem;
  font-family: "Monoton", cursive;
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
}
.sectionContainer #style-order {
  font-size: 1.5rem;
  font-family: "Monoton", cursive;
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
}

.offcanvas-container {
  background-color: rgba(39, 30, 30, 0.808);
  border: solid 0.2rem #fff;
  border-radius: 10%;
  position: fixed;
  bottom: 0.8rem;
  left: 0.8rem;
  z-index: 10;
  box-shadow: 0.5rem 0.5rem 0.5rem;
}
.offcanvas-container .button-offcanvas {
  width: 7rem;
}
.offcanvas-container .button-offcanvas p {
  font-family: "Monoton", cursive;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  padding-top: 1rem;
}
.offcanvas-container .offcanvas .offcanvas-header .offcanvas-title {
  font-family: "Monoton", cursive;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.offcanvas-container .offcanvas .offcanvas-body div .filter-button {
  width: 30%;
  background-color: rgba(39, 30, 30, 0.808);
}
.offcanvas-container .offcanvas .offcanvas-body div .filter-button:hover {
  transform: scale(105%);
  transition: all 0.5s;
}
.offcanvas-container .offcanvas .offcanvas-body div ul .item-dropdown {
  display: block;
  color: black;
  padding: 1% 0% 1% 7.5%;
  font-size: 0.9rem;
}
.offcanvas-container .offcanvas .offcanvas-body div ul .item-dropdown:hover {
  background-color: rgba(39, 30, 30, 0.808);
  color: #fff;
}
.offcanvas-container .offcanvas .offcanvas-body .classify-products p {
  width: 34%;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(39, 30, 30, 0.808);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}
.offcanvas-container .offcanvas .offcanvas-body .classify-products a {
  color: #271e1e;
  font-size: 0.9rem;
}
.offcanvas-container .offcanvas .offcanvas-body .classify-products a:hover {
  font-weight: bold;
}
.offcanvas-container .offcanvas .offcanvas-body .classify-products a:active {
  transform: scale(120%);
}
.offcanvas-container .offcanvas .offcanvas-body .input-search-container button {
  background-color: rgba(39, 30, 30, 0.808);
}
.offcanvas-container .offcanvas .offcanvas-body .input-search-container button:hover {
  transform: scale(105%);
  transition: all 0.5s;
}
.offcanvas-container .offcanvas .offcanvas-body .input-search-container button a {
  color: #fff;
}
.offcanvas-container .offcanvas .offcanvas-body .clean-filters-container button {
  margin-top: 4rem;
}
.offcanvas-container .offcanvas .offcanvas-body .clean-filters-container button:hover {
  transform: scale(105%);
  transition: all 0.5s;
}
.offcanvas-container .offcanvas .offcanvas-body .clean-filters-container button a {
  color: #fff;
}

#to-top {
  background-color: rgba(39, 30, 30, 0.808);
  border: solid 0.2rem #fff;
  border-radius: 10%;
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 0.5rem;
}
#to-top:active {
  transform: translateY(0.5rem);
  transition: all 0.3s;
  box-shadow: 0.3rem 0.3rem 0.5rem;
}
#to-top a {
  display: block;
  font-family: "Monoton", cursive;
  font-size: 1rem;
  color: #fff;
  padding: 2%;
  letter-spacing: 0.1rem;
}

footer {
  background-color: rgba(39, 30, 30, 0.808);
  padding: 2%;
}
footer .gridContainer {
  width: 80%;
  margin: 0% auto;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  grid-template-areas: "seguinos contacto contacto nosotros nosotros nosotros" "ig mail mail textoNosotros textoNosotros textoNosotros" "face whatsapp whatsapp textoNosotros textoNosotros textoNosotros" "tw ubicacion ubicacion textoNosotros textoNosotros textoNosotros";
}
footer .gridContainer .seguinos {
  grid-area: seguinos;
}
footer .gridContainer .contacto {
  grid-area: contacto;
}
footer .gridContainer .nosotros {
  grid-area: nosotros;
}
footer .gridContainer .ig {
  grid-area: ig;
}
footer .gridContainer .ig a {
  width: 50%;
}
footer .gridContainer .ig a:hover {
  transform: scale(110%) rotateY(360deg);
  transition: all 1s;
}
footer .gridContainer .ig a img {
  width: 100%;
}
footer .gridContainer .mail {
  grid-area: mail;
  width: 50%;
}
footer .gridContainer .textoNosotros {
  grid-area: textoNosotros;
}
footer .gridContainer .face {
  grid-area: face;
}
footer .gridContainer .face a {
  width: 50%;
}
footer .gridContainer .face a:hover {
  transform: scale(110%) rotateY(360deg);
  transition: all 1s;
}
footer .gridContainer .face a img {
  width: 100%;
}
footer .gridContainer .whatsapp {
  grid-area: whatsapp;
}
footer .gridContainer .tw {
  grid-area: tw;
}
footer .gridContainer .tw a {
  width: 50%;
}
footer .gridContainer .tw a:hover {
  transform: scale(110%) rotateY(360deg);
  transition: all 1s;
}
footer .gridContainer .tw a img {
  width: 100%;
}
footer .gridContainer .ubicacion {
  grid-area: ubicacion;
  margin-left: 3%;
}
footer .gridContainer .titulo {
  font-size: 1.5rem;
}
footer .gridContainer .textContacto {
  margin-left: 4%;
}

body {
  background-image: url("../multimedia/imagenes/background.jpg");
  background-repeat: repeat-y;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
