* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

// Base
@import 'base/variables.scss';

// Components
@import 'components/header';
@import 'components/main.scss';
@import 'components/footer';


body {
    background-image: url('../multimedia/imagenes/background.jpg');
    background-repeat: repeat-y;
    a {
        text-decoration: none;
    }
}