// Footer

footer {
    background-color: $bgOpacity;
    padding: 2%;
    .gridContainer {
        width: 80%;
        margin: 0% auto;
        color: $colorSecundario;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 3rem;
        grid-template-areas: 
        'seguinos contacto contacto nosotros nosotros nosotros'
        'ig mail mail textoNosotros textoNosotros textoNosotros'
        'face whatsapp whatsapp textoNosotros textoNosotros textoNosotros'
        'tw ubicacion ubicacion textoNosotros textoNosotros textoNosotros';
        
        .seguinos {
            grid-area: seguinos;
        }
        
        .contacto {
            grid-area: contacto;
        }
        
        .nosotros {
            grid-area: nosotros;
        }
        
        .ig {
            grid-area: ig;
            a {
                width: 50%;
                &:hover {
                    transform: scale(110%) rotateY(360deg);
                    transition: all 1s;
                }
                img {
                    width: 100%;
                }
            }
        }
        
        .mail {
            grid-area: mail;
            img {
                width: 25%;
            }
        }
        
        .textoNosotros {
            grid-area: textoNosotros;
        }
        
        .face {
            grid-area: face;
            a {
                width: 50%;
                &:hover {
                    transform: scale(110%) rotateY(360deg);
                    transition: all 1s;
                }
                img {
                    width: 100%;
                }
            }
        }
        
        .whatsapp {
            grid-area: whatsapp;
            margin-left: 2%;

            img {
                width: 20%;
            }
        }
        
        .tw {
            grid-area: tw;
            a {
                width: 50%;
                &:hover {
                    transform: scale(110%) rotateY(360deg);
                    transition: all 1s;
                }
                img {
                    width: 100%;
                }
            }
        }
        
        .ubicacion {
            grid-area: ubicacion;
            margin-left: 5%;
            img {
                width: 15%;
            }
        }

        .titulo {
            font-size: 1.5rem;
        }
    
        .textContacto {
            margin-left: 4%;
        }
    }
}


