// Header

header {
    nav {
        background-color: $bgOpacity;
        div {
            .logoContainer{
                background-color: $bgOpacity;
                &:hover {
                    transform: scale(102%);
                    transition: all 0.5s;
                }
                .imgLogo {
                    margin: 0% auto;
                    width: 70%;
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .hamburger {
                span{
                    .barsMenu{
                        width: 100%;
                    }
                }
            }
            .seccionesContainer {
                margin: 0% 10%;
                a {
                    color: $colorSecundario;
                    font-family: $fontLogo;
                    text-align: center;
                    font-size: 1.5rem;
                    letter-spacing: 0.1rem;
                    &:hover {
                        transform: translateY(1rem);
                        transition: all 0.5s;
                    }
                }
                p {
                    color: $colorSecundario;
                    font-family: $fontLogo;
                    text-align: center;
                    font-size: 1.5rem;
                    letter-spacing: 0.1rem;
                }
            }
            .cart-icon {
                .cart-button {
                    &:hover {
                        transform: scale(105%);
                        transition: all 0.5s;
                    }
                    &:hover {
                        p {
                            transform: rotateY(720deg);
                            transition: all 1.5s;
                        }
                    }
                    #cart-quantity {
                        position: relative;
                        right: 25%;
                    }
                }
            }
            .cart-modal {
                div {
                    div {
                        .modal-header {
                            .modal-title {
                                font-family: $fontLogo;
                                font-size: 2.5rem;
                                letter-spacing: 0.5rem;
                            }
                        }  
                        .modal-footer {
                            p {
                                font-weight: normal;
                                #total-price {
                                    font-size: 1rem;
                                    font-weight: bold;
                                }
                            }
                            button {
                                background-color: $bgOpacity;
                                &:hover {
                                    transform: scale(105%);
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}